

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50px;
}


.logo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
     width: 50%;
     padding: 20px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    color: #1a202c;
    font-weight: bold;
    font-family: inter, system-ui;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover {
text-decoration: none;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    margin-bottom: 24px;
    margin-right: 50%;
    font-family: inter, system-ui
}

.header__description {
    font-family: inter, system-ui;
    color: #243e63;
}

.nav__link--primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
}

.twocolumnwithinput__paragraph {
    display: flex;
    justify-content: center;
}

h1 {
 font-family: inter, system-ui;
 font-size: 40px;
 color: #1a202c;
}

.subheader {
    font-size: 16px;
    color: #243e63;
    font-family: inter, system-ui;
    margin: 20px 0; 
}

.purple{
    color: #6415ff;
}

button{
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-family: inter, system-ui;
    color: #243e63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
    
.highlight__para {
    color: #7c8ba1;
    font-size: 20px;
    font-family: inter, system-ui;
    justify-content: center;
    display: flex;
    align-items: center;
}   

.image__container {
    width: 10%;
}

.row {
    width: 500%;
    max-width: 1200px;
    margin: 0 auto;
}

.higlight__img--wrapper {
    width: 20%;
}

h3 {
    text-align: center;
}

