

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


img.logo {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.women__img {
     width: 50%;
     padding: 20px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    color: #243e63;
    font-family: inter, system-ui;
    margin: 0px 24px;
    padding: 0 0 4px;
    font-size: 14px;
    font-weight: bold;
}

 .nav__links {
    padding: 8px;
    color: #243e63;
    font-family: inter, system-ui;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover {
text-decoration: none;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    margin-bottom: 24px;
    margin-right: 50%;
    font-family: inter, system-ui
}

.header__description {
    font-family: inter, system-ui;
    color: #243e63;
}

.nav__link--primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
}

.twocolumnwithinput__paragraph {
    display: flex;
    justify-content: center;
}

h1 {
 font-family: inter, system-ui;
 font-size: 40px;
 color: #1a202c;
}

.subheader {
    font-size: 16px;
    color: #243e63;
    font-family: inter, system-ui;
    margin: 20px 0; 
}

.purple{
    color: #6415ff;
}

button{
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-family: inter, system-ui;
    color: #243e63;
    align-items: center;
    font-weight: bold;
}
    
.highlight__para {
    color: #7c8ba1;
    font-size: 20px;
    font-family: inter, system-ui;
    justify-content: center;
    display: flex;
    align-items: center;
}   

.image__container {
    width: 10%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight__img {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    border: 2px solid;
    opacity: 1;
    margin-bottom: 80px;
}
 
.higlight__img--wrapper {
    width: 20%;
    display: flex;
}


h3 {
   display: flex;
   align-items: center;
   flex-direction: row;
   padding: 10px;
   margin-top: 1rem;
   font-size: 24px;
   font-weight: 700;
   line-height: 1;
   letter-spacing: 0.025em;
   color: #243e63;
   font-family: inter system-ui;
}




h5 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
    font-family: inter system-ui;
}
 
.personal__logo{
    font-family: inter system-ui;
    font-weight: 900;
    font-size: 30px;
    color: #243e63;
    margin-left: 80px;
}

.customers-logo-strip {
  width: 60%;
  opacity: 0.5;
  font-weight: 700;
}

.para__title {
    color: #a0aec0;
    font-size: 12px;
    font-family: inter system-ui;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
}

p.description {
    color: #7c8ba1;
    font-family: inter system-ui;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.025em;
    max-width: 1024px;
}

 .container {
     display: flex;
     
}

#highlights {
}

.sub__title {
    font-size: 26px;
    font-family: inter system ui;
    width: 100%;
}

.sub__description{ 
    text-align: left;
    
}

.para__description {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    font-size: 18px;
    color: #7c8ba1;
}
.hero__img--wrapper{
    width: 70%;
}

.flex {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.column__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}


.section__title{
    display: flex;
}

.description__wrapper {
    
}

.service__img--wrapper{
}